.subTagBitcoinPool,
.poolBalance {
  position: fixed;
  color: white;
}
.subTagBitcoinPool {
  margin-top: 51vh;
  margin-left: 30vw;
}

.poolBalance,
.poolBalance11 {
  margin-left: 10vw;
}

.poolBalance {
  margin-top: 54vh;
  font-size: 35px;
}

.poolBalance0,
.poolBalance2,
.poolBalance5 {
  margin-left: 44vw;
}
.poolBalance1 {
  margin-left: 48vw;
}
.poolBalance3 {
  margin-left: 42vw;
}
.poolBalance4 {
  margin-left: 35vw;
}
.poolBalance5 {
  margin-left: 32vw;
}
.poolBalance6 {
  margin-left: 29vw;
}
.poolBalance7 {
  margin-left: 25vw;
}
.poolBalance8 {
  margin-left: 21vw;
}
.poolBalance9 {
  margin-left: 17vw;
}
.poolBalance10 {
  margin-left: 14vw;
}
.poolBalance12 {
  margin-left: 8vw;
}

@media (min-width: 375px) {
  .subTagBitcoinPool {
    margin-top: 61vh;
    margin-left: 32vw;
  }

  .poolBalance {
    margin-top: 64vh;
    margin-left: 15vw;
  }

  .poolBalance3 {
    margin-left: 42vw;
  }
  .poolBalance4 {
    margin-left: 37vw;
  }
  .poolBalance5 {
    margin-left: 35vw;
  }
  .poolBalance6 {
    margin-left: 31vw;
  }
  .poolBalance7 {
    margin-left: 28vw;
  }
  .poolBalance8 {
    margin-left: 26vw;
  }
  .poolBalance9 {
    margin-left: 21vw;
  }
  .poolBalance10 {
    margin-left: 19vw;
  }
  .poolBalance11 {
    margin-left: 17vw;
  }
  .poolBalance12 {
    margin-left: 15vw;
  }
}

@media (min-width: 400px) and (min-height: 600px) {
  .subTagBitcoinPool {
    margin-top: 58vh; /* changed */
    margin-left: 31vw;
    font-size: 20px;
  }

  .poolBalance {
    margin-top: 60vh; /* changed */
    margin-left: 15vw;
    font-size: 39px;
  }

  .poolBalance3 {
    margin-left: 42vw;
  }
  .poolBalance4 {
    margin-left: 40vw;
  }
  .poolBalance5 {
    margin-left: 35vw;
  }
  .poolBalance6 {
    margin-left: 34vw;
  }
  .poolBalance7 {
    margin-left: 31vw;
  }
  .poolBalance8 {
    margin-left: 29vw;
  }
  .poolBalance9 {
    margin-left: 23vw;
  }
  .poolBalance10 {
    margin-left: 21vw;
  }
  .poolBalance11 {
    margin-left: 18vw;
  }
  .poolBalance12 {
    margin-left: 13vw;
  }
}

@media (min-width: 425px) {
  .subTagBitcoinPool {
    margin-top: 68vh;
    margin-left: 33vw;
  }

  .poolBalance {
    margin-top: 71vh;
    margin-left: 18vw;
    font-size: 36px;
  }

  .poolBalance0 {
    margin-left: 46vw;
  }

  .poolBalance3 {
    margin-left: 42vw;
  }
  .poolBalance4 {
    margin-left: 40vw;
  }
  .poolBalance5 {
    margin-left: 37vw;
  }
  .poolBalance6 {
    margin-left: 35vw;
  }
  .poolBalance7 {
    margin-left: 33vw;
  }
  .poolBalance8 {
    margin-left: 31vw;
  }
  .poolBalance9 {
    margin-left: 27vw;
  }
  .poolBalance10 {
    margin-left: 25vw;
  }
  .poolBalance11 {
    margin-left: 21vw;
  }
  .poolBalance12 {
    margin-left: 18vw;
  }
}

@media (min-width: 768px) {
  .subTagBitcoinPool {
    margin-top: 62vh;
    margin-left: 39vw;
  }

  .poolBalance {
    margin-top: 65vh;
    margin-left: 30vw;
    font-size: 40px;
  }
  .poolBalance0 {
    margin-left: 46vw;
  }

  .poolBalance2 {
    margin-left: 46vw;
  }
  .poolBalance3 {
    margin-left: 45vw;
  }
  .poolBalance4 {
    margin-left: 42vw;
  }
  .poolBalance5 {
    margin-left: 41vw;
  }
  .poolBalance6 {
    margin-left: 40vw;
  }
  .poolBalance7 {
    margin-left: 38vw;
  }
  .poolBalance8 {
    margin-left: 36vw;
  }
  .poolBalance9 {
    margin-left: 34vw;
  }
  .poolBalance10 {
    margin-left: 33vw;
  }
  .poolBalance11 {
    margin-left: 31vw;
  }
  .poolBalance12 {
    margin-left: 30vw;
  }
}

@media (min-width: 1024px) {
  .subTagBitcoinPool {
    margin-top: 55vh;
    margin-left: 42vw;
  }

  .poolBalance {
    margin-top: 59vh;
    margin-left: 35.5vw;
    font-size: 40px;
  }
  .poolBalance0 {
    margin-left: 47vw;
  }

  .poolBalance2 {
    margin-left: 48vw;
  }
  .poolBalance3 {
    margin-left: 47vw;
  }
  .poolBalance4 {
    margin-left: 45vw;
  }

  .poolBalance6 {
    margin-left: 43vw;
  }
  .poolBalance7 {
    margin-left: 41vw;
  }
  .poolBalance8 {
    margin-left: 40vw;
  }
  .poolBalance9 {
    margin-left: 38vw;
  }
  .poolBalance10 {
    margin-left: 37vw;
  }
  .poolBalance11 {
    margin-left: 36vw;
  }
  .poolBalance12 {
    margin-left: 35vw;
  }
}

@media (min-width: 1440px) {
  .subTagBitcoinPool {
    margin-top: 52vh;
    margin-left: 44.5vw;
  }

  .poolBalance {
    margin-top: 55vh;
    margin-left: 39vw;
    font-size: 42px;
  }

  .poolBalance1 {
    margin-left: 49vw;
  }
  .poolBalance2 {
    margin-left: 48vw;
  }
  .poolBalance3 {
    margin-left: 47vw;
  }
  .poolBalance4 {
    margin-left: 46vw;
  }
  .poolBalance5 {
    margin-left: 45vw;
  }
  .poolBalance6 {
    margin-left: 45vw;
  }
  .poolBalance7 {
    margin-left: 43vw;
  }
  .poolBalance8 {
    margin-left: 42vw;
  }
  .poolBalance9 {
    margin-left: 41vw;
  }
  .poolBalance10 {
    margin-left: 40vw;
  }
  .poolBalance11 {
    margin-left: 39vw;
  }
  .poolBalance12 {
    margin-left: 39vw;
  }
}
